<div class="landing-page">
    <header class="header">
      <h1>Welcome to our internship project site</h1>
    </header>
    
    <main class="main-content">
      <section class="welcome-section">
        <h2>Discover Amazing Features</h2>
        <h3>
          Create your first test! Enjoy working with our application!
        </h3>
        <button mat-raised-button color="accent" (click)="addQuestion()">Get Started</button>
      </section>
    </main>
    
    <footer class="footer">
      <p>&copy; 2024 NovaLite</p>
    </footer>
  </div>
  