.main-form {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.main-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 100px); 
    padding: 20px;
    box-sizing: border-box; 
}


h6 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}


.title {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 20px;
}

.header-content {
    display: flex;
    align-items:center; 
    justify-content: center; 
}


.header-image {
    width: 170px; 
    margin-right: 15px;
}


.title h3 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}



h6 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.question-form-container, .answer-form-container {
    width: 50%;
    margin: 0 1%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    background-color: #FCF55F;
}

.question-form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 500px;
    margin-top: 0;
    box-sizing: border-box;
}


.answer-form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100vh - 160px); 
    overflow: auto; 
    margin-top: 0;
    margin-top: 0;
    box-sizing: border-box;
}



button[mat-raised-button] {
    width: 150px;
    height: fit-content;
    padding: 6px;
    margin-top: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: white;
    font-weight: bold
}

mat-form-field {
    width: 100%;
    border-radius: 10px;
}

.answer-card {
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

.status-row {
    display: flex;
    align-items: center;
}

.status-icon {
    margin-left: 8px;
    font-size: 20px;
}

textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
}


