<div class="exam-overview">
  <h2>Exams Overview</h2>

  <mat-form-field class="search-input">
    <mat-label>Search by Candidate</mat-label>
    <input matInput [(ngModel)]="searchText" placeholder="Enter name or surname" [(ngModel)]="searchText" (ngModelChange)="onSearchChange($event)">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="candidate">
      <th mat-header-cell *matHeaderCellDef> Candidate </th>
      <td mat-cell *matCellDef="let exam"> {{exam.candidate.name}} {{exam.candidate.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let exam"> {{exam.examStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let exam"> {{exam.correctAnswersCount}}/{{exam.totalNumberOfQuestions}} </td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef> Start time </th>
      <td mat-cell *matCellDef="let exam"> {{exam.startTime | date : "hh:mm dd-MM-YYYY"}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator 
    [pageSize]="pageSize" 
    [length]="totalExams" 
    [pageSizeOptions]="[5, 10, 25]" 
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
