.candidateInfo {
  max-width: 400px;
  margin: auto;
  padding: 16px;
  background-color: #f6e04e;
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;

}
input {
  width: 90%;
  padding: 14px;
  border: 2px solid #3f51b5;
  border-radius: 8px;
  font-size: 13px;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-right: 3%;
}

input::placeholder {
  color: #999;
  opacity: 1;
}

button {
  width: 50%;
  padding: 12px;
  font-size: 16px;
  margin: auto;
  background-color:  #18181a;
  color: #f6e04e;
  font-weight: 600;
}
button:hover{
  background-color:  #36454F;
  cursor: pointer;
}

p {
  margin-top: 2%;
  text-align: center;
}
.error{
  color: #f44336;
}

img {
  margin: auto;
  width: 30%;
}

.companyLabel{
  margin-bottom: 16%;
}