<div class="questions">
    <!-- <div class="search">
        <mat-form-field class="search-form-field">
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            @if (value) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="search()">
                <mat-icon>close</mat-icon>
              </button>
            }
        </mat-form-field>
    </div>
     -->
    <app-questions-table></app-questions-table>
</div>

