.test {
    max-width: 600px; 
    margin: 20px auto; 
    padding: 20px; 
    min-height: 900px;
    background-color: #f6e04e; 
    height: 100%;
}

h1 {
    font-size: 20px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 15px; 
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.section {
    margin-bottom: 10px; 
}

mat-checkbox,
mat-radio-button {
    margin-right: 10px; 
}

button {
    background-color: #18181a; 
    color: #f6e04e;
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #36454F;
}

p {
    background-color: #f8f9fa; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: text-bottom;
    padding-top: 10px;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}

.question{
    border: solid #333 3px;
    font-size: 130px;
    box-shadow: 0 2px 10px rgba(0, 0, 0.3, 0.4);
    min-height: 220px;
    background-color: white;
}

.side-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.pagination p{
    height: 40px;
    background-color:burlywood;
  }
.timer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer p{
    height: 35px;
    margin: 0px;
    padding: 0px;
}
