<div class="test">
    <div class="timer">
        <p *ngIf="!isHidden">{{display}}</p>
        <p *ngIf="isHidden">Timer</p>
        <button (click)="hideTimer()">Hide/Show</button>
    </div>
    <h1>{{ question.text }}</h1>

    <div *ngIf="question.type === 1" class="question">
        <section class="section" *ngFor="let answer of question.answers">
            <mat-radio-button 
                [checked]="isChecked(answer)" 
                (change)="onRadioButtonChange(answer)">
                {{ answer.answerText }}
            </mat-radio-button>
            <br />
        </section>
    </div>

    <div *ngIf="question.type === 2" class="question">
        <section class="section" *ngFor="let answer of question.answers">
            <mat-checkbox 
                [checked]="isChecked(answer)" 
                (change)="onCheckboxChange(answer)">
                {{ answer.answerText }}
            </mat-checkbox>
            <br />
        </section>
    </div>   

    <br />
    <div class="pagination"><p>{{ page + 1 }}/{{ examQuestions.length }}</p></div>
    
    <br />
    <br />
    <div class="side-button">
        <button (click)="previous()" [disabled]="page === 0">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button *ngIf="page === examQuestions.length - 1" class="next" (click)="submit()">Submit</button>
        <button *ngIf="page !== examQuestions.length - 1" class="next" (click)="next()"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>

    <br />
</div>
