form {
    flex-direction: column;
    align-items: center;
    text-decoration-color: white;
}

h6 {
    font-size: 20px; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 10px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.question-form-container, .answer-form-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.question-form-container {
    width: 600px; 
    position: relative;
    padding-top: 15px;
    margin-top: 50px;
}

.answer-form-container {
    width: 570px;
    margin-top: 10px;
    padding: 15px;
}

button[mat-raised-button] {
    width: 150px;
    margin-top: 5px;
    text-decoration-color: white;
}


mat-form-field {
    width: 100%;
}

.button-answer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.answer-card {
    margin-top: 2px;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

.status-row {
    display: flex;
    align-items: center;
  }
  
  .status-icon {
    margin-left: 8px; /* Adjust margin as needed */
    font-size: 20px; /* Adjust font size if needed */
  }
  